#include "/home/delusional/.config/xcolors/active"

!Font
urxvt*font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12
urxvt*perl-ext-common: default,matcher,clipboard
urxvt*url-launcher: xdg-open
urxvt*matcher.button: 1
urxvt*clipboard.autocopy: true
urxvt*iconFile: /usr/share/icons/Moka/48x48/apps/terminal.png
! Scollbar
*scrollstyle: plain
